#thirdSection > .box:nth-child(1) {
    grid-template-rows: repeat(3, 15rem);
}
#thirdSection .firstItem {
    grid-area: 1 / 1 / 3 / 4;
    opacity: 0.5;
}
img {
    max-width: 100%;
}
.border {
    border-left: 0.1rem solid white;
    border-top: 0.1rem solid white;
    grid-area: 2 / 1 / 4 / -2;
    padding-left: 30.25rem;
    padding-top: 7rem;
}
div > p:not(:last-child), .water > p {
    margin-bottom: 1rem;
}
#thirdSection > .box:nth-child(2) {
    grid-template-rows: repeat(2, 1fr);
}
.water {
    grid-column: 1 / 3;
    align-self: end;
}
span {
    display: block;
    line-height: 3;
}
span:nth-child(1) {
    margin-left: 13.5rem;
    padding-top: 0.5rem;
}
span:nth-child(2) {
    margin-left: 14rem;
}
span:nth-child(3) {
    margin-left: 14.5rem;
}
span:nth-child(4) {
    margin-left: 15rem;
}
span:nth-child(5) {
    display: inline-block;
    margin-left: 15.5rem;
}
.goose__white {
    grid-column: 2 / 4;
}
[class^='goose__'] {
    grid-row: 2;
    align-self: end;
}
.goose__grey {
    grid-column: 4;
    padding-left: 5vw;
}