.marquee__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    font-size: 2.1rem;
    color: white;
    font-weight: 400;
    overflow: hidden;
}
.header_marquee, .footer_marquee {
    font-size: 10.3rem;
    font-weight: 500;
    white-space: nowrap;
    animation: header_marquee 8s infinite linear;
}
[class$='marquee']:after {
    content: "А – ГА – ГА – ГА – Г";
}
@keyframes header_marquee {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-50%)
    }
}
.footer_marquee {
    animation: footer_marquee 8s infinite linear;
}
@keyframes footer_marquee {
    100% {
        transform: translateX(0)
    }
    0% {
        transform: translateX(-50%)
    }
}