.box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 4rem 7rem;
}
.parents {
    grid-column: 1 / 3;
    display: grid;
    align-content: start;
}
h2 {
    margin: 0 0 2.5rem;
    font-size: 2.1rem;
    font-weight: 400;
    color: white;
}
.nest {
    width: 50%;
    justify-self: end;
}
div > p:not(:last-child), .water > p {
    margin-bottom: 1rem;
}
.children {
    grid-column: 4;
    display: grid;
    align-content: end;
}
img {
    max-width: 100%;
}